server:
  port: 9000
spring:
  application:
    name: index12306-gateway${unique-name:}-service
  profiles:
    active: dev
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.150.100:8848