server:
  port: 9000
spring:
  application:
    name: index12306-gateway${unique-name:}-service
  profiles:
    active: dev
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.150.100:8848

# 提供Actuator给后续监控/健康检查
management:
  # Actuator HTTP 端点
  endpoints:
    web:
      exposure:
        include: '*'
  metrics:
    tags:
      application: ${spring.application.name}